@use '../colors';

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

div#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: radial-gradient(closest-side, rgba(colors.$primary, 0.5), rgba(white, 0));
    overflow-y: scroll;
    margin-top: auto;
    margin-bottom: auto;
}

footer#footer {
    font-size: 9pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}