@use '../colors';
@use '../fonts';

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15%;
    background: radial-gradient(closest-side, mix(colors.$primary, white, 50%), white);
}

.flex-container {
    display: flex;
    align-items: center;
}

.description p {
    margin: 0pt;
    white-space: nowrap;
}

#title {
    color: colors.$primary;
    font-family: fonts.$display-font;
    font-weight: bold;
    font-size: 48pt;
    margin-bottom: 4pt;
}

#image {
    scale: 0.75;
}
