@use '../../colors';
@use '../../fonts';

.home-info-group p {
	margin: 0;
}

.home-name {
	font-size: 14pt;
}

#home-balance {
	color: colors.$primary;
	font-size: 20pt;
	font-family: fonts.$display-font-family;
}

#home-bal-ok {
	color: colors.$primary;
}

// History

.home-history {
	margin-top: 30pt;
	& p.home-name {
		margin-bottom: 0;
	}
	& hr {
		margin: 0;
	}
}

.home-payments * {
	margin-top: 6pt;
}
