@use '../../colors';

.password-helper {
	font-size: 0.875em;
	margin-bottom: 8px;
}

.password-bar {
	& .progress {
		flex-grow: 1;
		height: 0.875em;
	}
	& p {
		margin: 0;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5pt;
}

.password-requirements {
	& p {
		margin: 0;
	}
	& p i {
		margin-left: 4pt;
		margin-right: 4pt;
	}
	line-height: 1.25;
}

.password-ok {
	color: colors.$primary;
}

.password-bad {
	color: var(--bs-danger);
}
