@use '../../colors';
@use '../../fonts';

input#splitb-amount {
	color: colors.$primary;
	font-family: fonts.$display-font-family;
	text-align: center;
}

.sb-list {
	margin-bottom: 10pt;
	& p {
		margin: 0;
	}
	& .sb-list-item-unselected:hover {
		background-color: rgba(colors.$primary, 0.1);
		cursor: pointer;
		& p::after {
			content: 'Select';
			margin-left: 10pt;
			color: rgba(colors.$dark, 0.5);
			font-style: italic;
		}
	}
	& .sb-list-item-selected:hover {
		background-color: rgba(colors.$accent-red, 0.1);
		cursor: pointer;
		& p::after {
			content: 'Remove';
			margin-left: 10pt;
			color: rgba(colors.$dark, 0.5);
			font-style: italic;
		}
	}
}

.sb-list-item-centered {
	text-align: center;
}

.sb-list-item-box {
	display: flex;
	justify-content: space-between;
	& p {
		margin: 0;
	}
}
