@use '../../colors';
@use '../../fonts';

input#splitb-amount {
	color: colors.$primary;
	font-family: fonts.$display-font-family;
	text-align: center;
}

.sb-selected-list {
	margin-bottom: 10pt;
}

.sb-list-item-centered {
	text-align: center;
}

.sb-list-item-box {
	display: flex;
	justify-content: space-between;
	& p {
		margin: 0;
	}
	& .sb-icon-add {
		color: colors.$dimmed;
		&:hover {
			cursor: pointer;
		}
	}
	& .sb-icon-remove {
		color: colors.$accent-red;
		&:hover {
			cursor: pointer;
		}
	}
}
