@use '../../colors';

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	padding-top: 10pt;
	padding-bottom: 10pt;
	padding-left: 15pt;
	padding-right: 15pt;
}

.header-link {
	color: colors.$dimmed;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.header-logo {
	font-size: 14pt;
}
