@use '../../colors';

.register-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(100vw - 20pt, 400px);
}

#register-title {
	font-size: 24pt;
	font-weight: bold;
	color: colors.$primary;
}

.reg-link-dark {
	color: colors.$dark;
}
